.card {
  border: 1px solid var(--neutral-border-weak);
  border-radius: var(--static-radius-m);
  transition: border-color var(--transition-fast-medium);
  overflow: hidden;

  &:hover {
    border-color: var(--neutral-border-strong);
  }
}
