.wrapper {
  position: relative;
  max-width: 320px;
}

.spotifyIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.3;
  z-index: 1;
  transition: opacity 0.2s ease-in-out;
}

.container {
  padding: var(--spacing-s);
  border: 1px solid var(--color-border-neutral-strong);
  border-radius: var(--radius-m);
  transition: background-color 0.2s ease-in-out;
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
  overflow: hidden;
}

.link {
  text-decoration: none;
  display: block;

  &:hover {
    .container {
      background-color: var(--color-surface-neutral-subtle);
    }
    .spotifyIcon {
      opacity: 0.8;
    }
  }
}

.albumImage {
  width: 48px;
  height: 48px;
  border-radius: var(--radius-s);
  flex-shrink: 0;
}

.songInfo {
  flex-grow: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.equalizer {
  display: flex;
  align-items: flex-end;
  height: 14px;
  gap: 3px;
  margin-left: auto;
  padding-left: var(--spacing-s);

  span {
    width: 3px;
    height: 100%;
    background-color: var(--color-brand-default);
    animation: bounce 1.2s ease-in-out infinite;
  }

  span:nth-of-type(2) {
    animation-delay: -1.0s;
  }

  span:nth-of-type(3) {
    animation-delay: -0.8s;
  }
  span:nth-of-type(4) {
    animation-delay: -0.6s;
  }
}

@keyframes bounce {
  0%, 40%, 100% {
    transform: scaleY(0.2);
    transform-origin: bottom;
  }
  20% {
    transform: scaleY(1.0);
    transform-origin: bottom;
  }
} 